<div class="tours">

    <header-block></header-block>
    <subheader-block></subheader-block>

    <div class="main_section">
        <div class="container">
            <div class="edit">
                <div>
                    <p>Hotels</p>
                    <i class="fas fa-pen" ui-sref="hotel_choose"></i>
                    <i class="far fa-trash-alt"></i>
                </div>
                <div>
                    <p>Tickets</p>
                    <i class="fas fa-pen" ui-sref="flights"></i>
                    <i class="far fa-trash-alt"></i>
                </div>
                <div>
                    <p>Transfer</p>
                    <i class="fas fa-pen" ui-sref="transfer_choose"></i>
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
            <div class="proposal">
                <p>BEST PROPOSAL</p>
                <div class="propose">
                    <div class="hotel">
                        <div class="_edit">
                            <i class="fas fa-pen" ui-sref="hotel_choose"></i>
                            <i class="far fa-trash-alt"></i>
                        </div>
                        <div class="content">
                            <div class="about">
                                <p>Hotel Astra</p>
                                <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i></div>
                            </div>
                            <div class="price">
                                <div class="price_rate"><i class="fas fa-heart"></i><i class="fas fa-heart"></i><i
                                        class="fas fa-heart"></i><i class="far fa-heart"></i><i
                                        class="far fa-heart"></i></div>
                                <div class="price_price">
                                    <p>10 nights <strong>400$</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tickets">
                        <div class="_edit">
                            <i class="fas fa-pen" ui-sref="flights"></i>
                            <i class="far fa-trash-alt"></i>
                        </div>
                        <div class="content">

                        </div>
                    </div>
                    <div class="transfer">
                        <div class="_edit">
                            <i class="fas fa-pen" ui-sref="transfer_choose"></i>
                            <i class="far fa-trash-alt"></i>
                        </div>
                        <div class="content">
                            <div class="about">
                                <p>Audi A6 S6</p>
                                <div>Business Class</div>
                            </div>
                            <div class="price">
                                <div class="price_rate"></div>
                                <div class="price_price">
                                    <p>35 mins <strong>40$</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result">
                    <div class="content">
                        <div class="result_content">
                            <h4>Hotel Astra</h4>
                            <p>4 stars</p>
                            <div></div>
                            <strong>400$</strong>
                        </div>
                        <div class="result_content">
                            <h4>DME - FRU</h4>
                            <h4>FRU - DME</h4>
                            <div></div>
                            <strong>1000$</strong>
                        </div>
                        <div class="result_content">
                            <h4>AUDI A6 S6</h4>
                            <p></p>
                            <div></div>
                            <strong>40$</strong>
                        </div>
                        <strong>1440$</strong>
                    </div>

                </div>
                <button class="main_button" ui-sref="checkout">
                    Confirm
                </button>
            </div>
        </div>
    </div>


    <footer-block></footer-block>


</div>