
body {
  font-size: 14px;
  font-family: 'ProximaNova', sans-serif;
  line-height: 1.42857;
  color: #384656;
  background: #f7f7f7;
  height: auto;
}

::-webkit-scrollbar {
  width: 0px;
}

a,
button {
  cursor: pointer;
}

select:focus,
a:focus,
button:focus {
  outline: none;
}

.main_button {
  border: 0px solid white;
  width: 180px;
  height: 43px;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 12px 24px 11px;
  display: inline-block;
  background-color: $basic_purple;
  transition: background-color ease 0.4s, .8s;
  font: {
    family: $ProximaNova;
    weight: 700;
    size: 13px;
  }
  line-height: 1;
  color: white;
  cursor: pointer;
  text-align: center;
  //text-transform: uppercase;
  position: relative;

  &.primary {
    color: $dark_grey;
    //background-color: #6760fa;

  }


}


.main_button:hover {
  background-color: $light_green;

  &.primary {
    background: transparent;

  }
}

.main_button:hover:after,
.main_button:hover:before {
  width: 100%;
}

.main_section {
  min-height: calc(100vh - 407px);
  padding: 20px;
  .container {
    display: flex;
    flex-direction: row;
    .content {
      margin-left: 20px;
      width: 100%;
      max-width: 1100px;
      &.list_image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        div {
          margin: 0 10px 10px;
          text-align: center;
          max-width: 340px;
          img {
            height: 240px;
            width: 340px;
            border-radius: 2px;
            -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.24);
            -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.24);
            box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.24);
            transition: .8s all;
          }
        }
        div:hover {
          img {
            -webkit-box-shadow: 1px 1px 11px 6px rgba(0, 0, 0, 0.24);
            -moz-box-shadow: 1px 1px 11px 6px rgba(0, 0, 0, 0.24);
            box-shadow: 1px 1px 11px 6px rgba(0, 0, 0, 0.24);
          }
        }
      }
      &.text {
        text-align: center;
        img{
          max-width: 300px;
          border-radius: 2px;
          -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.24);
          -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.24);
        }
        table {
          background: rgba(0, 0, 0, 0.12);
          box-sizing: border-box;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.24);
          -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.24);
          margin: 0 auto 30px;
          thead{
            td{
              border-bottom: 1px solid #3e4d5d;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
            }

          }
          td {
            padding: 5px;
            //background: #f7f7f7;
            //border: 1px solid black;
          }

        }
      }
    }

  }

}

.container {

  margin: 0 auto;
}

//media

@media (min-width: 1500px) {
  .container {
    width: 1440px;
  }

}

@media (min-width: 1200px) and (max-width: 1500px) {
  .container {
    width: 1170px;
  }
  .main_section {
    .container {
      .content {
        &.list_image {
          div {
            max-width: 255px;
            img {
              width: 255px;
              height: 185px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .main_section {
    .container {
      .content {
        &.list_image {
          div {
            max-width: 295px;
            img {
              width: 295px;
              height: 185px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 750px;
  }
  .main_section {
    .container {
      .content {
        margin: 0;

      }
    }
  }
}

@media (min-width: 540px) and (max-width: 768px) {
  .container {
    width: 500px;
  }
  .main_section {
    .container {
      .content {
        margin: 0;
        &.list_image {
          div {
            margin: 0 0 10px;
            max-width: 235px;
            img {
              width: 235px;
              height: 185px;
            }
          }
          div:nth-child(even) {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .container {
    width: 310px;
  }
  .main_section {
    padding: 0 !important;
    .container {
      .content {
        margin: 0;
        &.list_image {
          div {
            img {
              width: 295px;
              height: 185px;
            }
          }
        }
      }
    }
  }
}