
body {
  font-size: 14px;
  font-family: 'ProximaNova', sans-serif;
  line-height: 1.42857;
  color: #303030;
  background: #FFFFFF;
  height: auto;
}

::-webkit-scrollbar {
  width: 0px;
}

a,
button {
  cursor: pointer;
}

select:focus,
a:focus,
button:focus,
input:focus {
  outline: none;
}

.main_button {
  border: 0 solid white;
  //width: 180px;
  //height: 43px;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 12px 24px 11px;
  display: inline-block;
  background-color: $basic_purple;
  transition: background-color ease 0.4s, .8s;
  font: {
    family: $ProximaNova;
    weight: 400;
    size: 18px;
  }
  line-height: 1;
  color: white;
  cursor: pointer;
  text-align: center;
  //text-transform: uppercase;
  position: relative;

  &.primary {
    color: $dark_grey;
    //background-color: #6760fa;

  }

}

.main_button:hover {
  background-color: $light_green;

  &.primary {
    background: transparent;

  }
}

.main_button:hover:after,
.main_button:hover:before {
  width: 100%;
}

.main_section {
  min-height: calc(100vh - 407px);
}

.container {

  margin: 0 auto;
}

//media

@media (min-width: 1500px) {
  .container {
    width: 1440px;
  }

}

@media (min-width: 1200px) and (max-width: 1500px) {
  .container {
    width: 1170px;
  }

}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px;
  }

}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 750px;
  }

}

@media (min-width: 540px) and (max-width: 768px) {
  .container {
    width: 500px;
  }

}

@media (max-width: 540px) {
  .container {
    width: 310px;
  }
}

