$basic_purple: #610b52;
$dark_grey: #303030;
$light_grey: #5e5e5e;
$light_green: #36e4c6;
$turquoise: #00c9b5;


$Comfortaa: 'Comfortaa', cursive;
$OpenSans: 'Open-sans', sans-serif;
$ProximaNova:'ProximaNova', sans-serif;
