<div class="checkout">
    <header-block></header-block>
    <subheader-block></subheader-block>

    <div class="main_section">
        <div class="container">
            <div class="nav"><p ui-sref="tours"><i class="fas fa-arrow-left"></i>Back to the tour</p></div>
            <div class="content">
                <div class="accommodation">
                    <h4>Accomodation info</h4>
                    <input type="text" placeholder="hotel name">
                    <input type="text" placeholder="room type">
                    <input type="text" placeholder="room count">
                    <input type="text" placeholder="pension">
                    <input type="text" placeholder="date">
                </div>
                <div class="flight">
                    <h4>Flight info</h4>
                    <input type="text" placeholder="Airline">
                    <input type="text" placeholder="Flight No">
                    <input type="text" placeholder="From">
                    <input type="text" placeholder="To">
                    <input type="text" placeholder="Class">
                    <input type="text" placeholder="Terminal">
                    <input type="text" placeholder="Baggage Allowance">
                </div>
                <div class="insurance">
                    <h4>insurance info</h4>
                     <p>Insurance product is included in this package.</p>
                </div>
                <div class="guests">
                    <h4>Guest info</h4>
                    <input type="text" placeholder="*Gender">
                    <input type="text" placeholder="*Name">
                    <input type="text" placeholder="*Surname">
                    <input type="text" placeholder="*Birth Date">
                </div>
                <div class="contact">
                    <h4>Contact info</h4>
                    <input type="text" placeholder="*E-Mail">
                    <input type="text" placeholder="*GSM">
                </div>
                <div class="provider">
                    <h4>Provider Warning</h4>
                    <input type="text">
                </div>
                <div class="price">
                    <h4>Package price</h4>
                    <p>Currency: <strong>USD</strong></p>
                </div>
                <div class="total">
                    <p>Total Price: <strong>0</strong></p>
                </div>
            </div>


        </div>
    </div>


    <footer-block></footer-block>
</div>