<div class="hotel_info">


    <header-block></header-block>
    <subheader-block></subheader-block>

    <div class="main_section">
        <div class="container">
            <div class="nav"><p ui-sref="hotel_choose"><i class="fas fa-arrow-left"></i>Back to the hotels</p></div>
            <div class="content">
                <h4>Hotel Astra</h4>
                <div class="hotel_info_rate">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="map"></div>.
                <div class="benefits">
                    <div class="item">
                        <i class="fas fa-paw"></i>
                        <p>pets allowed</p>
                    </div>
                    <div class="item">
                        <i class="fas fa-wifi"></i>
                        <p>free WiFi</p>
                    </div>
                    <div class="item">
                        <i class="fas fa-smoking-ban"></i>
                        <p>non-smoking rooms</p>
                    </div>


                </div>
            </div>

        </div>
    </div>


    <footer-block></footer-block>

</div>