.homepage {

  .main_section {
    background: {
      image: url('../../content/img/header_bg.png');
      position-y: top;
      position-x: center;
      size: cover;
    }
    height: 600px;
    margin-top: -80px;
    padding: 80px;
    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 130px;
      height: 100%;
      .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
          color: $basic_purple;
          font-size: 30px;
          margin: 0;
          font-weight: bold;
          i{
            margin-left: 15px;
            font-size: 34px;
          }
        }
        div{
          display: flex;
          align-items: center;
          button{
            border: none;
            background: white;
            border-radius: 50%;
            font: {
              size: 30px;
            };
            line-height: 20px;
            width: 30px;
            height: 30px;
            box-shadow: 0 3px 0 rgba(153, 160, 204, 0.3);
            margin: 0 5px;
          }
          i,p{
            margin: 0 5px;
            color: white;
            font-size: 26px;
          }

        }
      }
      .search {

        display: flex;
        flex-direction: column;
        max-width: 1000px;
        width: 1000px;
        .some {
          display: flex;
          justify-content: space-between;
          max-width: 1000px;
          width: 1000px;
          margin: 10px auto 30px;
          .input_container {
            margin: 0 5px;
            box-shadow: 0 3px 0 rgba(153, 160, 204, 0.3);
            height: fit-content;
            background: white;
            border-radius: 10px;
            padding: 30px 20px;
            width: 300px;
            box-sizing: border-box;
            input {
              border: none;
              font-size: 20px;
            }
            .md-errors-spacer {
              display: none;
            }
          }
          .input_container:nth-child(3) {
            padding: 18px 20px;
            md-datepicker {
              button {
                height: 40px;
                width: 40px;
                padding: 0;
                md-icon {
                  color: $basic_purple;
                  font-size: 20px;
                  height: 40px;
                  width: 40px;
                }
              }
            }
          }
        }

        .accept {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          .paket{
            display: flex;
            flex-direction: row;
            color: $basic_purple;
            font-size: 30px;
            p{
              margin: 18px 10px;
              font-weight: bold;
            }
            md-slider {
              .md-slider-wrapper {
                width: 200px;
                .md-slider-content {
                  .md-track-container{
                    height: 5px;
                    .md-track{
                      background: white;
                    }
                    .md-track-fill{
                      background: $basic_purple;
                    }
                  }
                  .md-thumb-container {
                    .md-thumb{
                      top: 10px;
                    }
                    .md-thumb::after {  width: 30px;
                      height:  30px;
                      background: white;
                      color: white;
                      border: none;
                    }
                  }
                }
              }
            }

          }

          button {
            font-size: 20px;
            font-weight: 100;
            width: fit-content;
            height: 60px;
          }
        }
      }

    }
    img {
      //height: 100px;
    }
  }
  //media
  @media (min-width: 1500px) {

  }

  @media (min-width: 1200px) and (max-width: 1500px) {
    .main_section {
      .container {
        .content {

        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .main_section {
      .content {
        .search {
          width: 100%;
          .some {
            width: 100%;
            .input_container {
              width: 250px;
              padding: 25px 15px;
            }
          }
        }
      }

    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .main_section {
      .content {
        .search {
          width: 100%;
          .some {
            width: 100%;
          .input_container {
            width: 200px;
            padding: 20px 10px;
            input {
              max-width: 180px;
            }
          }
          }
        }
      }

    }
  }

  @media (min-width: 540px) and (max-width: 768px) {
    .main_section {
      .content {
        .search {
          width: 100%;
          .some , .accept{
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .input_container {
              margin: 10px 0;
            }
          }
        }
      }

    }
  }

  @media (max-width: 540px) {
    .main_section {
      .content {
        .top{
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p{
            i{
              margin: 0;
            }
          }
        }
        .search {
          width: 100%;
          .some , .accept {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .input_container {
              margin: 10px 0;
            }
            md-slider {
              .md-slider-wrapper {
                width: 130px !important;
              }
            }
          }
        }
      }

    }
  }

}