<div class="homepage">

    <header-block></header-block>

    <div class="main_section">
        <div class="content">
            <div class="search">
                <div class="top">
                    <p>Make tour<i class="fas fa-caret-down"></i></p>
                    <div>
                        <button ng-click="vm.personMath(false)">-</button>
                        <i class="fas fa-users"></i>
                        <p ng-model="vm.flight.adult">{{vm.flight.adult}}</p>
                        <button ng-click="vm.personMath(true)">+</button>
                    </div>
                </div>
                <div class="some">
                    <div class="input_container">
                        <!--<input type="text" ng-model="vm.searchModel.from" placeholder="From:"-->
                        <!--ng-change="vm.changeInput(vm.searchModel.from,'from')">-->
                        <md-content>
                            <md-autocomplete
                                    md-search-text="vm.searchModel.from"
                                    md-selected-item="vm.searchModel.fromAirport"
                                    md-items="item in vm.from"
                                    md-item-text='item.cityName + " " + item.name + " (" + item.code + "), " + item.countryCode'
                                    md-min-length="0" ng-model="vm.searchModel.from" placeholder="From:"
                                    md-search-text-change="vm.changeInput(vm.searchModel.from,'from')">

                                <md-item-template>
                                        <span md-highlight-text="vm.searchModel.from">
                                            {{item.cityName + " " + item.name + " (" + item.code + "), " + item.countryCode}}
                                        </span>
                                </md-item-template>
                                <md-not-found>
                                    No states matching "{{vm.searchModel.from}}" were found.
                                </md-not-found>
                            </md-autocomplete>
                        </md-content>
                    </div>
                    <div class="input_container">
                        <!--<input type="text" ng-model="vm.searchModel.to" placeholder="To:"-->
                        <!--ng-change="vm.changeInput(vm.searchModel.to,'to')">-->
                        <md-content>
                            <form>
                                <md-autocomplete
                                        md-search-text="vm.searchModel.to"
                                        md-selected-item="vm.searchModel.toAirport"
                                        md-items="item in vm.to"
                                        md-item-text='item.cityName + " " + item.name + " (" + item.code + "), " + item.countryCode'
                                        md-min-length="0" ng-model="vm.searchModel.to" placeholder="To:"
                                        md-search-text-change="vm.changeInput(vm.searchModel.to,'to')">

                                    <md-item-template>
                                                    <span md-highlight-text="vm.searchModel.to">
                                            {{item.cityName + " " + item.name + " (" + item.code + "), " + item.countryCode}}
                                        </span>
                                    </md-item-template>
                                    <md-not-found>
                                        No states matching "{{vm.searchModel.to}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                            </form>
                        </md-content>
                    </div>
                    <div class="input_container">
                        <md-datepicker ng-model="vm.flight.fromDate"></md-datepicker>
                        <md-datepicker ng-model="vm.flight.returnDate"></md-datepicker>
                    </div>
                </div>

                <div class="accept">
                    <div class="paket">
                        <p>{{vm.priceLimit}}$</p>
                        <md-slider-container>

                            <md-slider min="0" max="10000" now="150" ng-model="vm.priceLimit" aria-label="red">
                            </md-slider>

                        </md-slider-container>
                        <p>10000$</p>
                    </div>


                    <button class="main_button" ng-click="vm.searchTour()">Search Tours <i
                            class="fas fa-chevron-right"></i></button>
                </div>

            </div>

        </div>
    </div>


    <footer-block></footer-block>


</div>