<div class="homepage">

    <header-block></header-block>

    <div class="main_section">
        <div class="content">
            <div class="search">
                <div class="top">
                    <p>Make tour<i class="fas fa-caret-down"></i></p>
                    <div>
                        <button ng-click="vm.personMath(false)">-</button>
                        <i class="fas fa-users"></i>
                        <p ng-model="vm.persons">{{vm.persons}}</p>
                        <button ng-click="vm.personMath(true)">+</button>
                    </div>
                </div>
                <div class="some">
                    <div class="input_container">
                        <!--<input type="text" ng-model="vm.searchModel.from" placeholder="From:"-->
                               <!--ng-change="vm.changeInput(vm.searchModel.from,'from')">-->
                        <md-content>
                            <form ng-submit="$event.preventDefault()">
                                <md-autocomplete
                                        md-search-text="vm.searchModel.from"
                                        md-selected-item="vm.selectedItem"
                                        md-items="item in vm.test"
                                        md-item-text="item.display"
                                        md-min-length="0" ng-model="vm.searchModel.from" placeholder="From:"
                                        ng-change="vm.changeInput(vm.searchModel.from,'from')">

                                    <md-item-template>
                                        <span md-highlight-text="vm.searchModel.from">
                                            {{item}}
                                        </span>
                                    </md-item-template>
                                    <md-not-found>
                                        No states matching "{{vm.searchModel.from}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                            </form>
                        </md-content>
                    </div>
                    <div class="input_container">
                        <!--<input type="text" ng-model="vm.searchModel.to" placeholder="To:"-->
                        <!--ng-change="vm.changeInput(vm.searchModel.to,'to')">-->
                        <md-content>
                            <form ng-submit="$event.preventDefault()">
                                <md-autocomplete
                                        md-search-text="vm.searchModel.to"
                                        md-selected-item="vm.selectedItem"
                                        md-items="item in vm.test"
                                        md-item-text="item.display"
                                        md-min-length="0" ng-model="vm.searchModel.to" placeholder="To:"
                                        ng-change="vm.changeInput(vm.searchModel.to,'to')">

                                    <md-item-template>
                                                    <span md-highlight-text="vm.searchModel.to">
                                                        {{item}}
                                                    </span>
                                    </md-item-template>
                                    <md-not-found>
                                        No states matching "{{vm.searchModel.to}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                            </form>
                        </md-content>
                    </div>
                    <div class="input_container">
                        <md-datepicker ng-model="vm.dateFrom"></md-datepicker>
                        <md-datepicker ng-model="vm.dateTo"></md-datepicker>
                    </div>
                </div>

                <div class="accept">
                    <div class="paket">
                        <p>450$</p>
                        <md-slider-container>

                            <md-slider min="0" max="255" now="150" ng-model="some" aria-label="red">
                            </md-slider>

                        </md-slider-container>
                        <p>2450$</p>
                    </div>


                    <button class="main_button" ng-click="vm.searchTour()" ui-sref="tours">Search Tours <i
                            class="fas fa-chevron-right"></i></button>
                </div>

            </div>

        </div>
    </div>


    <footer-block></footer-block>


</div>