<div class="flight">
    <header-block></header-block>
    <subheader-block></subheader-block>

    <div class="main_section">
        <div class="container">
            <div class="nav"><p ng-click="vm.backToTheTour()" ui-sref="tours"><i class="fas fa-arrow-left"></i>Back to
                the tour</p></div>
            <div class="content">
                <div class="content_filter">
                    <div class="content_filter_sort">
                        <h4>Stops</h4>
                        <md-checkbox ng-model="some1s" aria-label=" nonstops" ng-click="vm.filterByStops(1,some1s)">
                            nonstops
                        </md-checkbox>
                        <md-checkbox ng-model="some2s" aria-label="1 stop" ng-click="vm.filterByStops(2,some2s)">
                            1 stop
                        </md-checkbox>
                        <md-checkbox ng-model="some3s" aria-label="2+ stops" ng-click="vm.filterByStops(3,some3s,true)">
                            2+ stops
                        </md-checkbox>

                    </div>
                    <div class="content_filter_sort">
                        <h4>Duration</h4>
                        <md-checkbox ng-model="some3" aria-label="3h to 5h" ng-click="vm.filterByDuration(3,5,some3)">
                            3h to 5h
                        </md-checkbox>
                        <md-checkbox ng-model="some4" aria-label=" 5h to 10h"
                                     ng-click="vm.filterByDuration(5,10,some4)">
                            5h to 10h
                        </md-checkbox>
                        <md-checkbox ng-model="some5" aria-label="10h to 15h"
                                     ng-click="vm.filterByDuration(10,15,some5)">
                            10h to 15h
                        </md-checkbox>
                    </div>
                    <div class="content_filter_sort">
                        <h4>Layover</h4>
                        <md-checkbox ng-model="some6" aria-label="3h to 5h" ng-click="vm.filterByLayover(3,5,some6)">
                            3h to 5h
                        </md-checkbox>
                        <md-checkbox ng-model="some7" aria-label=" 5h to 10h" ng-click="vm.filterByLayover(3,5,some7)">
                            5h to 10h
                        </md-checkbox>
                        <md-checkbox ng-model="some8" aria-label="10h to 15h" ng-click="vm.filterByLayover(3,5,some8)">
                            10h to 15h
                        </md-checkbox>
                    </div>
                    <div class="content_filter_sort">
                        <h4>Cabin</h4>
                        <md-checkbox ng-model="some9" aria-label="Economy"
                                     ng-click=" vm.filterByCabin('Economy',some9)">
                            Economy
                        </md-checkbox>
                        <md-checkbox ng-model="some10" aria-label="Business"
                                     ng-click=" vm.filterByCabin('Business',some10)">
                            Business
                        </md-checkbox>
                        <md-checkbox ng-model="some11" aria-label="Mixed" ng-click=" vm.filterByCabin('mixed',some11)">
                            Mixed
                        </md-checkbox>
                    </div>

                </div>
                <div class="content_content">
                    <!--<div class="tags">-->
                    <!--<div>Bali (any)</div>-->
                    <!--<div>04.05.2019 - 12.05.2019</div>-->
                    <!--</div>-->
                    <div class="proposals">
                        <h3>{{vm.totalProposals}} Proposals</h3>
                    </div>
                    <div class="filter">
                        <div><i class="fas fa-chevron-down"></i>
                            <p>Price (lowest first)</p></div>
                        <!--<div><i class="fas fa-chevron-down"></i>-->
                            <!--<p>Stars (highest first)</p></div>-->
                        <!--<div><i class="fas fa-chevron-down"></i>-->
                            <!--<p>Sort by rating</p></div>-->
                    </div>
                    <div class="result" ng-repeat="(key,flight) in vm.flights">

                        <div ng-if="$index%2===0" class="result_flight accordion">
                            <div class="info">

                                <div class="from_to">
                                    <div class="logo">{{flight.legs[0].carrierName}}</div>
                                    <div class="wave">
                                        <div>
                                            <strong>{{vm.transformDate(flight.legs[0].localDepartureDate)}}</strong>
                                            <p>{{flight.legs[0].departureAirport}}</p>
                                        </div>

                                        <div ng-if="flight.legs.length==1">
                                            <div class="line"></div>
                                            <p>nonstop</p>
                                        </div>

                                        <div ng-if="flight.legs.length>1">
                                            <div class="line"></div>
                                            <p><span ng-repeat="(b_key,break) in flight.legs">
                                                <span ng-if="b_key!=flight.legs.length-1">{{break.arrivalAirport}}</span>
                                            </span></p>
                                        </div>

                                        <div>
                                            <strong>{{vm.transformDate(flight.legs[0].localArrivalDate)}}</strong>
                                            <p>{{flight.legs[flight.legs.length-1].arrivalAirport}}</p>
                                        </div>
                                    </div>
                                    <div class="time"><p>{{flight.flightTimeHour}}h {{flight.flightTimeMinute}}
                                        min</p></div>
                                </div>

                                <div class="to_from">
                                    <div class="logo">{{vm.flights[$index+1].legs[0].carrierName}}</div>
                                    <div class="wave">
                                        <div>
                                            <strong>{{vm.transformDate(vm.flights[$index+1].legs[0].localDepartureDate)}}</strong>
                                            <p>{{vm.flights[$index+1].legs[0].departureAirport}}</p>
                                        </div>
                                        <div ng-if="vm.flights[$index+1].legs.length==1">
                                            <div class="line"></div>
                                            <p>nonstop</p>
                                        </div>

                                        <div ng-if="vm.flights[$index+1].legs.length>1">
                                            <div class="line"></div>
                                            <p><span ng-repeat="(b_key,break) in vm.flights[$index+1].legs">
                                                <span ng-if="b_key!=vm.flights[$index+1].legs.length-1">{{break.arrivalAirport}}</span>
                                            </span></p>
                                        </div>

                                        <div>
                                            <strong>{{vm.transformDate(vm.flights[$index+1].legs[0].localArrivalDate)}}</strong>
                                            <p>{{vm.flights[$index+1].legs[flight.legs.length-1].arrivalAirport}}</p>
                                        </div>
                                    </div>
                                    <div class="time"><p>{{vm.flights[$index+1].flightTimeHour}}h
                                        {{vm.flights[$index+1].flightTimeMinute}}
                                        min</p></div>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="total">
                                <h4>
                                    {{flight.fares[0].totalSingleAdultFare}}$</h4>
                                <button class="main_button">Buy now</button>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel_item">
                                <div class="top">
                                    <md-checkbox ng-model="check" aria-label="Depart"
                                                 ng-click="vm.setTicket(flight)">
                                        Depart
                                    </md-checkbox>
                                    <p>{{flight.legs[0].departureAirport}} -
                                        {{flight.legs[flight.legs.length-1].arrivalAirport}}</p>
                                    <p>{{flight.flightTimeHour}}h {{flight.flightTimeMinute}}
                                        m</p>
                                </div>
                                <div class="info">
                                    <div class="info_day">{{vm.transformDay(flight.legs[0].localDepartureDate)}}</div>
                                    <div class="info_time">{{flight.legs[0].carrierName}}
                                        <p>{{vm.transformDate(flight.legs[0].localDepartureDate)}} -
                                            {{vm.transformDate(flight.legs[0].localArrivalDate)}}</p>
                                    </div>
                                    <div class="info_class">{{flight.fares[0].type}}</div>
                                </div>
                            </div>
                            <div class="panel_item">
                                <div class="top">
                                    <md-checkbox ng-model="check2" aria-label="Return"
                                                 ng-click="vm.setTicket(vm.flights[$index+1])">
                                        Return
                                    </md-checkbox>
                                    <p>{{vm.flights[$index+1].legs[0].departureAirport}} -
                                        {{vm.flights[$index+1].legs[flight.legs.length-1].arrivalAirport}}</p>
                                    <p>{{vm.flights[$index+1].flightTimeHour}}h
                                        {{vm.flights[$index+1].flightTimeMinute}}
                                        m</p>
                                </div>
                                <div class="info">
                                    <div class="info_day">
                                        {{vm.transformDay(vm.flights[$index+1].legs[0].localDepartureDate)}}
                                    </div>
                                    <div class="info_time">{{vm.flights[$index+1].legs[0].carrierName}}
                                        <p>{{vm.transformDate(vm.flights[$index+1].legs[0].localDepartureDate)}} -
                                            {{vm.transformDate(vm.flights[$index+1].legs[0].localArrivalDate)}}</p>
                                    </div>
                                    <div class="info_class">{{vm.flights[$index+1].fares[0].type}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <pager page-count="vm.totalPages" current-page="vm.currentPage"
                           on-page-change="vm.onPageChange()"></pager>
                </div>
            </div>

        </div>
    </div>


    <footer-block></footer-block>
</div>