.flight {
  .main_section {
    .container {
      .nav {
        width: fit-content;
        padding: 30px;
        p {
          font-weight: bold;
          color: $basic_purple;
          font-size: 20px;
          i {
            margin-right: 10px;
          }
        }
      }
      .content {
        display: flex;
        justify-content: flex-start;
        .content_filter {
          margin-top: 200px;
          min-width: 200px;
          margin-right: 100px;
          .content_filter_sort {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
            h4 {
              text-transform: uppercase;
              color: $basic_purple;
              font-size: 18px;
            }
            md-checkbox {
              margin-bottom: 10px;
            }
            md-checkbox.md-checked {
              .md-icon {
                background-color: rgba(97, 11, 82, 0.87);
              }

            }
          }
        }
        .content_content {
          width: 100%;
          .tags {
            display: flex;
            div {
              margin: 0 5px;
              width: fit-content;
              border: 1px solid $basic_purple;
              padding: 10px;
              color: $basic_purple;
              font: {
                size: 18px;
                weight: bold;
              }
            ;
            }
          }
          .proposals {
            h3 {
              color: $basic_purple;
              font: {
                size: 22px;
                weight: bold;
              }
              text-transform: uppercase;
            }
          ;
          }
          .filter {
            display: flex;
            div {
              display: flex;
              align-items: center;
              margin-right: 20px;
              i {
                font-size: 20px;
                margin-right: 10px;
                //font-weight: 400;
              }
              p {
                font-size: 18px;
                font-weight: bold;
              }
            }
          }
          .result {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .result_flight {
              width: 100%;
              height: 200px;
              background: rgba(61, 158, 255, 0.1803921568627451);
              box-sizing: border-box;
            }
            .accordion {
              cursor: pointer;
              outline: none;
              transition: 0.6s all;
              position: relative;
              display: flex;
              justify-content: space-around;
              padding: 30px;
              &.active {
                background: white !important;
                border: 1px solid #00aff2;
              }
              .line {
                height: 100%;
                width: 2px;
                background: #00aff2;
              }
              .info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 75%;
                .from_to,
                .to_from {
                  display: flex;
                  width: 100%;
                  align-items: center;
                  justify-content: space-around;
                  .logo {
                    img {
                      height: 70px;
                    }
                  }
                  .wave {
                    display: flex;
                    align-items: center;

                    div {
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      text-align: center;
                      p, strong {
                        margin: 0;
                        font: {
                          size: 19px;
                        }
                      }
                      strong {
                        font: {
                          size: 22px;
                          weight: bold;
                        }
                      ;
                      }
                    }
                    div:nth-child(1),
                    div:nth-child(3) {

                    }
                    div:nth-child(2) {
                      margin: 0 5px;
                      .line {
                        width: 100%;
                        height: 2px;
                        background: #303030;
                        margin-top: 20px;
                      }
                      p {
                        padding: 0 35px;

                      }
                    }

                  }
                  .time {
                    p {
                      font: {
                        size: 18px;
                        weight: 900;
                      }
                    }
                  }
                }

              }

              .total {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h4 {
                  font: {
                    size: 35px;
                    weight: bold;
                  }
                  margin: 0;
                }
                .main_button {

                }

              }
            }
            .panel {
              box-sizing: border-box;
              width: 100%;
              height: auto;

              background-color: rgb(224, 224, 224);
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.5s ease-out;
              padding: 0 30px;
              .panel_item {
                color: #303030;
                width: 100%;
                .top {
                  margin-top: 40px;
                  width: 100%;
                  display: flex;
                  position: relative;
                  font-size: 18px;
                  md-checkbox {
                    line-height: 20px;
                    font: {
                      size: 20px;
                      weight: bolder;
                    }
                  }
                  p {
                    margin: 0;
                    margin-left: 15px;
                    color: rgba(41, 41, 41, 0.57);
                  }
                  p:last-child {
                    position: absolute;
                    right: 0;
                  }

                }
                .info {
                  display: flex;
                  width: 100%;
                  background: white;
                  padding: 20px;
                  box-sizing: border-box;
                  margin-bottom: 40px;
                  align-items: center;
                  position: relative;
                  .info_day {
                    font-size: 18px;
                    font-weight: bold;
                    margin-right: 40px;
                  }
                  .info_time {
                    display: flex;
                    align-items: center;
                    img {
                      height: 45px;
                    }
                    p {
                      margin: 0;
                      margin-left: 10px;
                      font-size: 18px;
                      font-weight: bold;
                    }
                  }
                  .info_class {
                    position: absolute;
                    right: 20px;
                    color: rgba(41, 41, 41, 0.57);
                    font-size: 18px;
                  }
                }

              }
            }

          }
        }
      }
    }
  }

  //media
  @media (min-width: 1500px) {

  }

  @media (min-width: 1200px) and (max-width: 1500px) {

  }

  @media (min-width: 992px) and (max-width: 1200px) {

  }

  @media (min-width: 768px) and (max-width: 992px) {
    .main_section {
      .container {
        .content {
          .content_content {
            .result {
              .result_flight {
                flex-direction: column;
                height: auto;
                align-items: center;
                .info {
                  width: 100%;

                }
                .total {
                  align-items: center;
                }

              }
              .panel {
                .panel_item {
                  .info {
                    .info_day {
                      margin-right: 0;
                    }

                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 540px) and (max-width: 768px) {
    .main_section {
      .container {
        .content {
          .content_filter {
            min-width: 170px;
            margin-right: 30px;
          }
          .content_content {
            .filter {
              flex-wrap: wrap;
            }
            .result {
              .result_flight {
                flex-direction: column;
                height: auto;
                align-items: center;

                .info {
                  width: 100%;
                  .from_to,
                  .to_from {
                    flex-direction: column;
                  }
                }
                .total {
                  align-items: center;
                }

              }
              .panel {
                .panel_item {
                  .top{
                    p:nth-child(3){
                      position: relative !important;
                    }
                    p{
                      margin-left: 5px;
                    }
                  }
                  .info {
                    flex-direction: column;
                    align-items: center;
                    .info_day {
                      margin-right: 0;
                    }
                    .info_class {
                      position: relative;
                      right: inherit;
                    }

                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 540px) {
    .main_section {
      .container {
        .content {
          flex-direction: column;
          .content_filter {
            min-width: 200px;
            margin: 0;
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            .content_filter_sort {
              width: 155px;
            }
          }
          .content_content {
            .filter {
              flex-wrap: wrap;
            }
            .result {
              .result_flight {
                flex-direction: column;
                height: auto;
                align-items: center;

                .info {
                  width: 100%;
                  .from_to,
                  .to_from {
                    flex-direction: column;
                  }
                }
                .total {
                  align-items: center;
                }

              }
              .panel {
                .panel_item {
                  .top{
                    font-size: 16px;
                    p:nth-child(3){
                      position: relative !important;
                    }
                    p{
                      margin-left: 5px;
                    }
                  }
                  .info {
                    flex-direction: column;
                    align-items: center;
                    .info_day {
                      margin-right: 0;
                    }
                    .info_class {
                      position: relative;
                      right: inherit;
                    }

                  }
                }
              }
            }
          }
        }
      }
    }

  }

}