<div class="flight">
    <header-block></header-block>
    <subheader-block></subheader-block>

    <div class="main_section">
        <div class="container">
            <div class="nav"><p ui-sref="tours"><i class="fas fa-arrow-left"></i>Back to the tour</p></div>
            <div class="content">
                <div class="content_filter">
                    <div class="content_filter_sort">
                        <h4>Stops</h4>
                        <md-checkbox ng-model="some1s" aria-label=" nonstops">
                            nonstops
                        </md-checkbox>
                        <md-checkbox ng-model="some2s" aria-label="1 stop">
                            1 stop
                        </md-checkbox>
                        <md-checkbox ng-model="some3s" aria-label="2+ stops">
                            2+ stops
                        </md-checkbox>

                    </div>
                    <div class="content_filter_sort">
                        <h4>Duration</h4>
                        <md-checkbox ng-model="some3" aria-label="3h to 5h">
                            3h to 5h
                        </md-checkbox>
                        <md-checkbox ng-model="some4" aria-label=" 5h to 10h">
                            5h to 10h
                        </md-checkbox>
                        <md-checkbox ng-model="some5" aria-label="10h to 15h">
                            10h to 15h
                        </md-checkbox>
                    </div>
                    <div class="content_filter_sort">
                        <h4>Layover</h4>
                        <md-checkbox ng-model="some6" aria-label="3h to 5h">
                            3h to 5h
                        </md-checkbox>
                        <md-checkbox ng-model="some7" aria-label=" 5h to 10h">
                            5h to 10h
                        </md-checkbox>
                        <md-checkbox ng-model="some8" aria-label="10h to 15h">
                            10h to 15h
                        </md-checkbox>
                    </div>
                    <div class="content_filter_sort">
                        <h4>Cabin</h4>
                        <md-checkbox ng-model="some9" aria-label="Economy">
                            Economy
                        </md-checkbox>
                        <md-checkbox ng-model="some10" aria-label="Business">
                            Business
                        </md-checkbox>
                        <md-checkbox ng-model="some11" aria-label="Mixed">
                            Mixed
                        </md-checkbox>
                    </div>

                </div>
                <div class="content_content">
                    <div class="tags">
                        <div>Bali (any)</div>
                        <div>04.05.2019 - 12.05.2019</div>
                    </div>
                    <div class="proposals">
                        <h3>123 Proposals</h3>
                    </div>
                    <div class="filter">
                        <div><i class="fas fa-chevron-down"></i>
                            <p>Price (lowest first)</p></div>
                        <div><i class="fas fa-chevron-down"></i>
                            <p>Stars (highest first)</p></div>
                        <div><i class="fas fa-chevron-down"></i>
                            <p>Sort by rating</p></div>
                    </div>
                    <div class="result">
                        <div class="result_flight accordion">
                            <div class="info">
                                <div class="from_to">
                                    <div class="logo"><img src="content/img/logo_fly.png" alt=""></div>
                                    <div class="wave">
                                        <div>
                                            <strong>14:10</strong>
                                            <p>DMV</p>
                                        </div>
                                        <div>
                                            <div class="line"></div>
                                            <p>nonstop</p>
                                        </div>
                                        <div>
                                            <strong>21:10</strong>
                                            <p>DPS</p>
                                        </div>
                                    </div>
                                    <div class="time"> <p>4h 34 min</p></div>
                                </div>
                                <div class="to_from">
                                    <div class="logo"><img src="content/img/logo_fly.png" alt=""></div>
                                    <div class="wave">
                                        <div>
                                            <strong>9:15</strong>
                                            <p>DPS</p>
                                        </div>
                                        <div>
                                            <div class="line"></div>
                                            <p>nonstop</p>
                                        </div>

                                        <div>
                                            <strong>14:10</strong>
                                            <p>DMV</p>
                                        </div>
                                    </div>
                                    <div class="time"> <p>4h 34 min</p></div>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="total">
                                <h4>400$</h4>
                                <button class="main_button">Buy now</button>
                            </div>
                        </div>
                        <div class="panel">
                           <div class="panel_item">
                               <div class="top">
                                   <md-checkbox ng-model="check" aria-label="Depart">
                                      Depart
                                   </md-checkbox>
                                   <p>DMV - DPS</p>
                                   <p>5h 25m</p>
                               </div>
                               <div class="info">
                                   <div class="info_day">Sun, 04 May</div>
                                   <div class="info_time"><img src="content/img/logo_fly.png" alt=""><p>14:10 - 21:10</p> </div>
                                   <div class="info_class">Economy</div>
                               </div>
                           </div>
                            <div class="panel_item">
                               <div class="top">
                                   <md-checkbox ng-model="check2" aria-label="Depart">
                                      Return
                                   </md-checkbox>
                                   <p>DMV - DPS</p>
                                   <p>5h 25m</p>
                               </div>
                               <div class="info">
                                   <div class="info_day">Sun, 04 May</div>
                                   <div class="info_time"><img src="content/img/logo_fly.png" alt=""><p>14:10 - 21:10</p> </div>
                                   <div class="info_class">Economy</div>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <footer-block></footer-block>
</div>