<div class="transfer_choose">
    <header-block></header-block>
    <subheader-block></subheader-block>

    <div class="main_section">
        <div class="container">
            <div class="nav"><p ui-sref="tours"><i class="fas fa-arrow-left"></i>Back to the tour</p></div>
            <div class="content">
                <div class="content_filter">
                    <div class="content_filter_sort">
                        <h4>Party Size</h4>
                        <md-checkbox ng-model="some1" aria-label=" Small Group">
                            Small Group
                        </md-checkbox>
                        <md-checkbox ng-model="some2" aria-label="Large Group">
                            Large Group
                        </md-checkbox>
                    </div>
                    <div class="content_filter_sort">
                        <h4>Class</h4>
                        <md-checkbox ng-model="some3" aria-label="Econom">
                            Econom
                        </md-checkbox>
                        <md-checkbox ng-model="some4" aria-label="Business">
                            Business
                        </md-checkbox>
                        <md-checkbox ng-model="some5" aria-label="Elite">
                            Elite
                        </md-checkbox>
                    </div>
                    <div class="content_filter_sort">
                        <h4>Facilities</h4>
                        <md-checkbox ng-model="some6" aria-label=" Free WiFi">
                            Free WiFi
                        </md-checkbox>
                        <md-checkbox ng-model="some7" aria-label="Parking">
                            Parking
                        </md-checkbox>
                        <md-checkbox ng-model="some8" aria-label=" Pet friendly">
                            Pet friendly
                        </md-checkbox>
                        <md-checkbox ng-model="some9" aria-label=" Free WiFi">
                            Free WiFi
                        </md-checkbox>
                        <md-checkbox ng-model="some10" aria-label="Parking">
                            Parking
                        </md-checkbox>
                        <md-checkbox ng-model="some11" aria-label=" Pet friendly">
                            Pet friendly
                        </md-checkbox>
                        <md-checkbox ng-model="some12" aria-label=" Free WiFi">
                            Free WiFi
                        </md-checkbox>
                        <md-checkbox ng-model="some13" aria-label="Parking">
                            Parking
                        </md-checkbox>
                        <md-checkbox ng-model="some14" aria-label=" Pet friendly">
                            Pet friendly
                        </md-checkbox>
                    </div>
                </div>
                <div class="content_content">
                    <div class="tags">
                        <div>Bali (any)</div>
                        <div>04.05.2019 - 12.05.2019</div>
                    </div>
                    <div class="proposals">
                        <h3>123 Proposals</h3>
                    </div>
                    <div class="filter">
                        <div><i class="fas fa-chevron-down"></i>
                            <p>Cheaper first</p></div>
                        <div><i class="fas fa-chevron-down"></i>
                            <p>Sort by rating</p></div>
                    </div>
                    <div class="result">
                        <div class="result_car">
                            <div class="car">
                                <div class="about">
                                    <p>Audi SQ8</p>
                                    <div>Premium Class<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i
                                            class="fas fa-star"></i></div>
                                </div>
                                <div class="price">
                                    <div class="price_rate"><i class="fas fa-heart"></i><i class="fas fa-heart"></i><i
                                            class="fas fa-heart"></i><i class="far fa-heart"></i><i
                                            class="far fa-heart"></i></div>
                                    <div class="price_price">
                                        <p>10 days <strong>400$</strong></p>
                                    </div>
                                </div>

                            </div>
                            <button class="main_button">Read more</button>
                        </div>
                        <div class="result_car">
                            <div class="car">
                                <div class="about">
                                    <p>Audi SQ8</p>
                                    <div>Premium Class<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i
                                            class="fas fa-star"></i></div>
                                </div>
                                <div class="price">
                                    <div class="price_rate"><i class="fas fa-heart"></i><i class="fas fa-heart"></i><i
                                            class="fas fa-heart"></i><i class="far fa-heart"></i><i
                                            class="far fa-heart"></i></div>
                                    <div class="price_price">
                                        <p>10 days <strong>400$</strong></p>
                                    </div>
                                </div>

                            </div>
                            <button class="main_button">Read more</button>
                        </div>
                        <div class="result_car">
                            <div class="car">
                                <div class="about">
                                    <p>Audi SQ8</p>
                                    <div>Premium Class <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i
                                            class="fas fa-star"></i></div>
                                </div>
                                <div class="price">
                                    <div class="price_rate"><i class="fas fa-heart"></i><i class="fas fa-heart"></i><i
                                            class="fas fa-heart"></i><i class="far fa-heart"></i><i
                                            class="far fa-heart"></i></div>
                                    <div class="price_price">
                                        <p>10 days <strong>400$</strong></p>
                                    </div>
                                </div>

                            </div>
                            <button class="main_button">Read more</button>
                        </div>
                        <div class="result_car">
                            <div class="car">
                                <div class="about">
                                    <p>Audi SQ8</p>
                                    <div>Premium Class<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i
                                            class="fas fa-star"></i></div>
                                </div>
                                <div class="price">
                                    <div class="price_rate"><i class="fas fa-heart"></i><i class="fas fa-heart"></i><i
                                            class="fas fa-heart"></i><i class="far fa-heart"></i><i
                                            class="far fa-heart"></i></div>
                                    <div class="price_price">
                                        <p>10 days <strong>400$</strong></p>
                                    </div>
                                </div>

                            </div>
                            <button class="main_button">Read more</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <footer-block></footer-block>
</div>